doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet" href="/css/styles.css")
    
  body
    .container
      h1 Welcome to #{title}!
      
    section
      h1 Lowell Jireh P. Chantengco
      h2 Information Technology Major in Web Development
      ul
        li Email: lowellchantengco@example.com
        li Phone: (123) 456-7890
        li Location: Anytown, USA
    section
      h2 Education
      h3 Information Technology Major in Web Development
      p Anytown University - Anytown, USA (Expected graduation: May 2024)
    section
      h2 Skills
      ul
        li HTML
        li CSS
        li JavaScript
        li React
        li Node.js
    section
      h2 Projects
      ul
        li
          h3 Project Title
          p Description of project
          p Technologies used: HTML, CSS, JavaScript, React
        li
          h3 Project Title
          p Description of project
          p Technologies used: HTML, CSS, JavaScript, Node.js
    section
      h2 Activities
      ul
        li Member, Web Development Club
        li Volunteer, Local Hackathon Competition


